.cart-container {
  min-width: 70vw;
}
.cart-header {
  text-align: center;
}
.empty-cart-message {
  font-style: italic;
}
.cart__item-list {
  padding: 1%;
}
.table-header__subtext {
  font-size: .9rem;
}
.cart-total {
  text-align: right;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.cart-total__subtext {
  font-size: .7rem;
}
.cart-item-control-btn {
  background-color: transparent;
  border: none;
  color: rgb(61, 61, 245);
  font-size: 1.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cart-item-control-btn--remove {
  font-size: .8rem;
}
.cart__btn-container {
  display: flex;
  justify-content: space-between;
}
.cart__btn {
  margin-top: 5%;
  width: 45%;
  border-radius: 8px;
  padding: 1.5%;
}
.cart__btn:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.178), 0px 3px 6px rgba(0, 0, 0, 0.288);
}
.cart__btn--clear {
  border: 1px solid grey;
  width: 30%;
}
.cart__btn--checkout {
  border: 1px solid green;
  background-color: lightgreen;
  width: 60%;
}
.checkout-form {
  min-width: 60vw;
  min-height: 50vh;
}
.checkout-form__custom-inputs, .checkout-form__custom-inputs > label {
  display: flex;
  flex-direction: column;
}
.checkout-form__custom-input {
  padding: 1%;
}
.checkout-form__card-element{
  background-color: white;
  padding: 3% .2%;
  border-radius: 4px;
}
.checkout-form__card-element--active {
  outline:none; 
  border:1px solid #4D90FE;
  box-shadow: 0px 0px 5px  #4D90FE!important;
}