.main-page__section {
  margin-top: 10%;
}

.main-page-description {
  width: 80%;
  max-width: 900px;
  margin: 2% auto;
}

.main-page__title {
  text-align: center;
  color: #b04200;
  text-shadow: .5px .5px 1px orange, -.5px -.5px 1px black;
}
