.main-page__section {
  margin-top: 10%;
}

.main-page-description {
  width: 80%;
  max-width: 900px;
  margin: 2% auto;
}

.main-page__title {
  text-align: center;
  color: #b04200;
  text-shadow: .5px .5px 1px orange, -.5px -.5px 1px black;
}

.main-page__package-item-list {
  display: flex;
  flex-direction: column;
}

.package-item__card {
  position: relative;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 8px;
  margin: 2% auto;
  background-color: #fbf6f0;
  padding-bottom: 2rem;
}

.package-item__card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  font-size: 1.1rem;
  padding: 4%;
  color: white;
  background-color: #79283b;
  min-height: 4em;
  margin-bottom: 0;
}

.package-item__card-description {
  font-size: .8rem;
  padding: 7%;
  line-height: 1rem;
  text-align: justify;
}

.package-item__button {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  transition: .3s background-color;
}

.package-item__button:hover {
  cursor: pointer;
  background-color: #9e374f;
  border-color: transparent;
  border-radius: 3px;
  color: white;
}

@media screen and (min-width: 950px) {
  .main-page__package-item-list {
    flex-direction: row;
    margin: auto;
  }
  .package-item__card {
    width: 30%;
    margin: 1%;
  }
  .package-item__card-description {
    font-size: .7rem;
  }
}