.contact-form__header {
  margin-bottom: 5%;
}
.contact-form label {
  display: flex;
  flex-direction: column;
}
.contact-form__btn {
  margin-top: 5%;
  width: 45%;
  border-radius: 8px;
  padding: 2%;
}
.contact-form__btn:hover {
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.178), 0px 3px 6px rgba(0, 0, 0, 0.288);
}
.contact-form__btn-container {
  display: flex;
  justify-content: space-between;
}
.contact-form__btn--clear {
  border: 1px solid grey;
}
.contact-form__btn--submit {
  border: 1px solid green;
  background-color: lightgreen;
}
.confirmation-message-container {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.link-to-home-btn {
  width: 70%;
  max-width: 10rem;
  background-color: purple;
  color: white;
  padding: 1%;
  border-radius: 8px;
  border: none;
  float: right;
}