.header {
  background: #b04200;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__title {
  margin: .5rem 1rem;
  font-size: .8rem;
  display: flex;
  align-items: center;
}
.header__title > * {
  margin-left: 5px;
}
