.form-page-container--outer {
  padding: 8%;
  background-size: cover;
  background-position: right;
  min-height: 100vh;
}

.form-page-container--inner {
  min-height: 30vh;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.747);
  padding: 5%;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (max-width: 950px) {
  .form-page-container--outer {
    padding-top: 10%;
  }
}

@media screen and (max-width: 450px) {
  .form-page-container--outer {
    padding-top: 20%;
  }
}
